body
{
background:url("About us bg.jpg")no-repeat;
background-size:cover;
background-attachment:fixed;
}
div
{
width:60%;
height:200%;
margin-left:200px;
background-color:white;
opacity:0.8;
padding:80px;
}
img
{
padding:10px;
}