body
{
	background:url("newsback.jpg")no-repeat;
	background-attachment:fixed;
	background-size:cover;
}

#div2
{
	margin-left:8%;
	width:1300px;
	background-color:white;
	opacity:0.8;
}
img
{
	height:500px; 
	width:800px;
	border-radius:8px;
}
h1
{   color:white;
	font-family:calibri;
	font-size:45;
}
#date
{
	font-family:calibri;
	font-size:20px;
}
#article
{
	font-family:calibri; 
	font-size:20px;
	padding:15px;
	text-align:center;
}